    <!-- ============ SITE NAME + TAGLINE (hidden while the about panel is open) ============ -->
    <header class="header">
      <aside class="header__contact">
        <p class="header__name"><a href="/index.html">Chae Ahn</a></p>
        <p>Type Designer &amp; Developer</p>
      </aside>
    </header>

    <!-- ============ ABOUT PANEL (toggled by #about-toggle, see js/script.js) ============ -->
    <aside id="header__about" class="header__about" hidden>
      <p class="header__about-intro">
        <span class="header__name"><a href="#">Chae Ahn</a></span> is a type designer and&nbsp;developer in Lausanne, working on typefaces, editorial projects, web development with publishers and&nbsp;artists. She is currently a&nbsp;student at <a href="https://ecal.ch/en/courses-and-research/master/type-design/" target="_blank">ECAL</a>, pursuing MA in Type Design.
      </p>
      <p class="header__about-links">
        <a href="mailto:chaeyunahn@gmail.com">chaeyunahn@gmail.com</a>
        <a href="https://docs.google.com/spreadsheets/d/149D_wWhYE8Lys1_V5kmCTQGH5zjM3slavkSK8JPWKbY/edit?usp=sharing" target="_blank"> CV Spreadsheet</a>
        <a href="https://www.linkedin.com/in/chaeyunahn/" target="_blank">LinkedIn</a>
        <a href="https://www.instagram.com/chaeyunahn/" target="_blank">Instagram</a>
        <a href="https://www.are.na/chae-ahn/channels" target="_blank">Are.na</a>
        <a href="https://github.com/chaeahn38" target="_blank">GitHub</a>
      </p>
    </aside>

    <!-- ============ NAV LINKS ============ -->
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li><a href="#" id="about-toggle">About</a></li>
        <li><a href="/html/typefaces-index.html">Typefaces</a></li>
        <li><a href="/html/projects.html">Projects</a></li>
      </ul>
    </nav>

    