    <header class="site-header">
       <aside class="contact-panel" id="contact-panel">
        <p class="site-name"><a href="/index.html">Chae Ahn</a></p>
        <p>Type Designer &amp; Developer</p>
      </aside>
    </header>

      <aside id="about-panel" class="about-panel" hidden>
        <p class="intro">
          <span class="site-name"><a href="#">Chae Ahn</a></span> is a type designer and&nbsp;developer in Lausanne, working on typefaces, editorial projects, web development with publishers and&nbsp;artists. She is currently a&nbsp;student at <a href="https://ecal.ch/en/courses-and-research/master/type-design/" target="_blank">ECAL</a>, pursuing MA in Type Design.
        </p>
        <p class="ext-link">
          <a href="mailto:chaeyunahn@gmail.com">chaeyunahn@gmail.com</a>
          <a href="https://docs.google.com/spreadsheets/d/149D_wWhYE8Lys1_V5kmCTQGH5zjM3slavkSK8JPWKbY/edit?usp=sharing" target="_blank"> CV Spreadsheet</a>
          <a href="https://www.linkedin.com/in/chaeyunahn/" target="_blank">LinkedIn</a>
          <a href="https://www.instagram.com/chaeyunahn/" target="_blank">Instagram</a>
          <a href="mailto:chaeyunahn@gmail.com">Mail</a>
          <a href="https://www.are.na/chae-ahn/channels" target="_blank">Are.na</a>
          <a href="https://github.com/chaeahn38" target="_blank">GitHub</a>
        </p>
      </aside>

    <nav class="site-nav">
      <ul class="nav-menu">
        <li><a href="#" id="about-toggle">About</a></li>
        <li><a href="/html/typefaces-index.html">Typefaces</a></li>
        <li><a href="/html/projects.html">Projects</a></li>
      </ul>
    </nav>

    